<a href="https://colab.research.google.com/github/HusanJalilov/AI_Jpyuter_/blob/main/3%20Modul%20tasks/Fayldan_o'qish1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_excel("Texnikumlari soni.xlsx")
df.head()

              Texnikumlari soni  Unnamed: 1  ... Unnamed: 10 Unnamed: 11
0  (o‘quv yili boshiga, birlik)         NaN  ...         NaN         NaN
1                           NaN         NaN  ...         NaN         NaN
2                           NaN  2010/ 2011  ...  2019/ 2020  2020/ 2021
3               Toshkent shahri           -  ...           -          11
4                     tumanlar:         NaN  ...         NaN         NaN

[5 rows x 12 columns]

In [10]:
df2=pd.read_excel("Oliy ta՚lim tashkilotlar soni.xlsx")
df2

                Oliy ta՚lim tashkilotlar soni  ... Unnamed: 15
0                (o‘quv yili boshiga, birlik)  ...         NaN
1                                         NaN  ...         NaN
2                                         NaN  ...         NaN
3                             Toshkent shahri  ...         NaN
4                                   tumanlar:  ...         NaN
5                                     Uchtepa  ...         NaN
6                                    Bektemir  ...         NaN
7                                   Yunusobod  ...         NaN
8                              Mirzo Ulug‘bek  ...         NaN
9                                     Mirobod  ...         NaN
10                               Shayhоntohur  ...         NaN
11                                    Olmazor  ...         NaN
12                                    Sergeli  ...         NaN
13                                 Yakkasaroy  ...         NaN
14                                  Yashnobod  ...         NaN
15                                  Chilonzor  ...         NaN
16                             Talabalar soni  ...         NaN
17                (o‘quv yili boshiga, kishi)  ...         NaN
18                                        NaN  ...         NaN
19                                        NaN  ...         NaN
20                            Toshkent shahri  ...   16.010356
21                                  tumanlar:  ...         NaN
22                                    Uchtepa  ...   18.811245
23                                   Bektemir  ...         NaN
24                                  Yunusobod  ...   16.605601
25                             Mirzo Ulug‘bek  ...   16.126059
26                                    Mirobod  ...   14.128149
27                               Shayhоntohur  ...   11.875801
28                                    Olmazor  ...   14.042023
29                                    Sergeli  ...         NaN
30                                 Yakkasaroy  ...   23.067265
31                                  Yashnobod  ...    8.647619
32                                  Chilonzor  ...   22.806767
33                                        NaN  ...         NaN
34  Professor-o‘qituvchi xodimlar soni, kishi  ...         NaN
35      (o‘quv yili boshiga, o‘rindoshlarsiz)  ...         NaN
36                                        NaN  ...         NaN
37                                        NaN  ...         NaN
38                            Toshkent shahri  ...         NaN
39                                  tumanlar:  ...         NaN
40                                    Uchtepa  ...         NaN
41                                   Bektemir  ...         NaN
42                                  Yunusobod  ...         NaN
43                             Mirzo Ulug‘bek  ...         NaN
44                                    Mirobod  ...         NaN
45                               Shayhоntohur  ...         NaN
46                                    Olmazor  ...         NaN
47                                    Sergeli  ...         NaN
48                                 Yakkasaroy  ...         NaN
49                                  Yashnobod  ...         NaN
50                                  Chilonzor  ...         NaN

[51 rows x 16 columns]

In [ ]:
df