<a href="https://colab.research.google.com/github/HusanJalilov/AI_Jpyuter_/blob/main/pandas/arifmetik_amallar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
s1=pd.Series([2,4,7,3,6], index=(['a','b','c','l','u']))
s2=pd.Series([-23,77,2,-7,87], index=['a','c','d','w','l'])

In [3]:
print(s1)
s2

a    2
b    4
c    7
l    3
u    6
dtype: int64

a   -23
c    77
d     2
w    -7
l    87
dtype: int64

In [4]:
s1+s2

a   -21.0
b     NaN
c    84.0
d     NaN
l    90.0
u     NaN
w     NaN
dtype: float64

In [5]:
dt1=pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abs'),index=['olma','behi','shaftoli','dinay'])
dt2=pd.DataFrame(np.arange(4,16).reshape(4,3), columns=list('abs'),index=['olma','bodring','uzum','dinay'])

In [6]:
dt1+dt2

             a     b     s
behi       NaN   NaN   NaN
bodring    NaN   NaN   NaN
dinay     22.0  24.0  26.0
olma       4.0   6.0   8.0
shaftoli   NaN   NaN   NaN
uzum       NaN   NaN   NaN

In [7]:
dt1.add(dt2, fill_value=0)

             a     b     s
behi       3.0   4.0   5.0
bodring    7.0   8.0   9.0
dinay     22.0  24.0  26.0
olma       4.0   6.0   8.0
shaftoli   6.0   7.0   8.0
uzum      10.0  11.0  12.0

In [8]:
dt2.sub(dt1, fill_value=0)

             a     b     s
behi      -3.0  -4.0  -5.0
bodring    7.0   8.0   9.0
dinay      4.0   4.0   4.0
olma       4.0   4.0   4.0
shaftoli  -6.0  -7.0  -8.0
uzum      10.0  11.0  12.0

In [9]:
dt1.rsub(dt2, fill_value=0)

             a     b     s
behi      -3.0  -4.0  -5.0
bodring    7.0   8.0   9.0
dinay      4.0   4.0   4.0
olma       4.0   4.0   4.0
shaftoli  -6.0  -7.0  -8.0
uzum      10.0  11.0  12.0

In [10]:
dt1.div(dt2, fill_value=0)

                 a         b         s
behi           inf       inf       inf
bodring   0.000000  0.000000  0.000000
dinay     0.692308  0.714286  0.733333
olma      0.000000  0.200000  0.333333
shaftoli       inf       inf       inf
uzum      0.000000  0.000000  0.000000

In [11]:
obj=pd.Series([1,1,2], index=['olma','anor','uzum'])
obj

olma    1
anor    1
uzum    2
dtype: int64

In [12]:
dt3=pd.DataFrame(np.arange(9).reshape(3,3), columns=['olma','anor','uzum'], index=['a','b','c'])

In [13]:
dt3

   olma  anor  uzum
a     0     1     2
b     3     4     5
c     6     7     8