<a href="https://colab.research.google.com/github/HusanJalilov/AI_Jpyuter_/blob/main/pandas/Dataframe_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
user={
    "Username":{"Husan":"Jalilov","Lazizaxon":"Anvarova","Shox":"Burxonov"},
    "Email":{"Husan":"husan@gmil.com","Lazizaxon":"laziza@gmail.com","Shox":"shox@gmil.com"}
    }

In [15]:
    df=pd.DataFrame(user)

In [16]:
df

           Username             Email
Husan       Jalilov    husan@gmil.com
Lazizaxon  Anvarova  laziza@gmail.com
Shox       Burxonov     shox@gmil.com

In [17]:
df.index

Index(['Husan', 'Lazizaxon', 'Shox'], dtype='object')

In [19]:
df.columns

Index(['Username', 'Email'], dtype='object')

In [20]:
'Email' in df.columns

True

In [23]:
df

           Username             Email
Husan       Jalilov    husan@gmil.com
Lazizaxon  Anvarova  laziza@gmail.com
Shox       Burxonov     shox@gmil.com

In [24]:
user2={
    "Username":{"Husan":"Dasturchi","Nilu":"Nilushka"},
    "Email":{"Husan":"GIT@gmil.com","Nilu":"Nilu@gmil.com"}
}
df2=pd.DataFrame(user2)

In [26]:
df2

        Username          Email
Husan  Dasturchi   GIT@gmil.com
Nilu    Nilushka  Nilu@gmil.com

In [28]:
df

           Username             Email
Husan       Jalilov    husan@gmil.com
Lazizaxon  Anvarova  laziza@gmail.com
Shox       Burxonov     shox@gmil.com

In [30]:
df3=df.append(df2)

In [31]:
df3

            Username             Email
Husan        Jalilov    husan@gmil.com
Lazizaxon   Anvarova  laziza@gmail.com
Shox        Burxonov     shox@gmil.com
Husan      Dasturchi      GIT@gmil.com
Nilu        Nilushka     Nilu@gmil.com

In [36]:
df4=df3.index

In [37]:
'Husan' in df4

True

In [41]:
new=pd.Index(['Husan','Olim','Jasur'])

In [42]:
new.isin(df3.index)

array([ True, False, False])

In [43]:
df3.index.difference(new)

Index(['Lazizaxon', 'Nilu', 'Shox'], dtype='object')

In [44]:
df3

            Username             Email
Husan        Jalilov    husan@gmil.com
Lazizaxon   Anvarova  laziza@gmail.com
Shox        Burxonov     shox@gmil.com
Husan      Dasturchi      GIT@gmil.com
Nilu        Nilushka     Nilu@gmil.com

In [47]:
df.index.delete(0)

Index(['Lazizaxon', 'Shox'], dtype='object')

In [48]:
df

           Username             Email
Husan       Jalilov    husan@gmil.com
Lazizaxon  Anvarova  laziza@gmail.com
Shox       Burxonov     shox@gmil.com