<a href="https://colab.research.google.com/github/HusanJalilov/AI_Jpyuter_/blob/main/pandas/funksiyalarni_qo'llash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.DataFrame(np.random.randn(4,3), columns=['olma','anor','uzum'], index=['a','b','c','d'])
df

       olma      anor      uzum
a -0.848646  0.209636 -0.453764
b -0.439033  0.121197  2.583302
c -0.701210  0.728245  2.646730
d -1.246355 -0.557524  0.446413

In [ ]:
np.abs(df)

       olma      anor      uzum
a  0.848646  0.209636  0.453764
b  0.439033  0.121197  2.583302
c  0.701210  0.728245  2.646730
d  1.246355  0.557524  0.446413

In [ ]:
np.round(df)

   olma  anor  uzum
a  -1.0   0.0  -0.0
b  -0.0   0.0   3.0
c  -1.0   1.0   3.0
d  -1.0  -1.0   0.0

In [ ]:

df

       olma      anor      uzum
a -0.848646  0.209636 -0.453764
b -0.439033  0.121197  2.583302
c -0.701210  0.728245  2.646730
d -1.246355 -0.557524  0.446413

In [ ]:
np.mean(df)

olma   -0.808811
anor    0.125389
uzum    1.305670
dtype: float64

In [ ]:
df

       olma      anor      uzum
a -0.848646  0.209636 -0.453764
b -0.439033  0.121197  2.583302
c -0.701210  0.728245  2.646730
d -1.246355 -0.557524  0.446413

In [ ]:
df.apply(np.abs)

       olma      anor      uzum
a  0.848646  0.209636  0.453764
b  0.439033  0.121197  2.583302
c  0.701210  0.728245  2.646730
d  1.246355  0.557524  0.446413

In [ ]:
df.apply(sum, axis=1)  # bu yerda o'rtacha qiymatini satr boicha qo'shadi

a   -1.092773
b    2.265466
c    2.673765
d   -1.357466
dtype: float64

In [ ]:
f=lambda x: x.mix()-x.min()

In [ ]:
df.apply(f)

AttributeError: ignored