<a href="https://colab.research.google.com/github/HusanJalilov/AI_Jpyuter_/blob/main/pandas/loc_va_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np

.iloc, .loc, .at, .iat 
yuqoridagi funksiyalar bilan tanishib chiqasiz

In [22]:
uz={2018:31.3,2019:32.3,2020:33.2,2021:35}
rus={2018:102.3,2019:103.3,2020:104.2,2021:105}
itl={2018:51.3,2019:52.3,2020:54.2,2021:56}
kg={2018:72.3,2019:74,2020:76,2021:80}
ger={2018:29.3,2019:22.3,2020:34.2,2021:67}
df=pd.DataFrame(
    {
        'Uzbekistan':uz,
     'Russia':rus,
     'Italiya':itl,
     'Kazakistan':kg,
     'Germaniya':ger
    }
)

In [23]:
df

      Uzbekistan  Russia  Italiya  Kazakistan  Germaniya
2018        31.3   102.3     51.3        72.3       29.3
2019        32.3   103.3     52.3        74.0       22.3
2020        33.2   104.2     54.2        76.0       34.2
2021        35.0   105.0     56.0        80.0       67.0

In [24]:
df.loc[[2018]]

      Uzbekistan  Russia  Italiya  Kazakistan  Germaniya
2018        31.3   102.3     51.3        72.3       29.3

In [25]:
s=df.loc[2018]

In [26]:
type(s)

pandas.core.series.Series

In [27]:
df.loc[[2018,2021],['Uzbekistan','Germaniya']]

      Uzbekistan  Germaniya
2018        31.3       29.3
2021        35.0       67.0

In [29]:
df

      Uzbekistan  Russia  Italiya  Kazakistan  Germaniya
2018        31.3   102.3     51.3        72.3       29.3
2019        32.3   103.3     52.3        74.0       22.3
2020        33.2   104.2     54.2        76.0       34.2
2021        35.0   105.0     56.0        80.0       67.0

In [35]:
df.at[2019,'Uzbekistan']

32.3

In [39]:
df.iat[2,1]

104.2

In [40]:
df.iloc[-1]  #iloc iat lardan index boicha ishlashga ancha qulay hisoblanadi

Uzbekistan     35.0
Russia        105.0
Italiya        56.0
Kazakistan     80.0
Germaniya      67.0
Name: 2021, dtype: float64